 <nav> 
        <ul id="navbar">
         <li>
             <a href="/postimage">Postimage</a>
         </li>
         <li>
             <a href="/viewpost">Viewpost</a>
         </li>
         <li id="centeropt">          <!--Middle button will have margins on each side-->
             <a href="/index">Welcome</a>
         </li>
         <li> 
             <a href="/login">Login</a>
         </li>
         <li>
             <a href="/registration">Registration</a>
         </li>
        </ul> 
     </nav>