
<body>
     <!--document title-->
    <title>Login</title>
    <!--Section heading-->
    <header>
        <h1>Login Page</h1>
    </header>

    <!--Section with navbar-->

     <div class= "logcontent">
     <h4>login</h4>
     <!--Login Uname/Pw in form tags-->
     <form>
    Username
    <input type="text" class="txtbox" placeholder="Enter username">
    <br/>
    Password 
    <input type="Password" class="pwbox" placeholder="Enter Password">
    </form>
    <!--login button-->
    <button type="submit">Login</button>
    </div>
</body>
</html>