
<body>
     <!--document title-->
    <title>Registration</title> 
    <!--Section heading-->
    <header>
        <h1>Registration Page</h1>
    </header>

     <div class="regcontent">
     <h4>Registration</h4>
     <!--Login Uname/email/Pw +confirm PW in form tags-->
     <form id="reg-form" class="input-form" method="POST" action="/users/register" enctype="application/x-www-form-urlencoded">
        Username
        <input type="text" id ="username" class="txtbox" placeholder="Enter username" required>
         
         
            Email 
        <input type="email" id ="email" class="txtbox" placeholder="Enter Email Address" required>
        
        
            Password
        <input type="Password" id ="password" class="pwbox" placeholder="Enter Password"required>
        
        
            Confirm Password
        <input type="Password" id ="cpassword" class="pwbox" placeholder="Confirm Password" name="cpassword" required>
        
 
        <!--TOS and checkbox-->
        <div class="TOS">
            <a>Check box to confirm you are atleast 13 Years old</a>
            <input type="checkbox" required>
            <br/> 
            <a href="#" required>TOS and Privacy Rule</a>
        </div>
        <!--submit button-->
        
        <button type="submit">submit</button>
        </form>
</div>
    <script defer type="text/javascript" 
src="../js/validation.js"></script> 
</body>
</html>