
<body>
     <!--document title-->
    <title>Login</title>
    <!--Section heading-->
    <header>
        <h1>Login Page</h1>
    </header>

    <!--Section with navbar-->

     <div class= "logcontent">
     <h4>login</h4>
     <!--Login Uname/Pw in form tags-->
     <form id="login-form" class ="input-form" action="/users/login" method="POST" enctype="application/x-www-form-urlencoded">
    Username
    <input type="text" class="txtbox" placeholder="Enter username" name="username" required>
    <br/>
    Password 
    <input type="Password" class="pwbox" placeholder="Enter Password" name="password" required>
    <!--login button-->
    <br/>
    <button type="submit">Login</button>
    </div>
    </form>
</body>
</html>