
<body>
     <!--document title-->
    <title>Registration</title> 
    <!--Section heading-->
    <header>
        <h1>Post image</h1>
    </header>

    <!--Section with navbar-->
   
     <h4>Post an image here</h4>
     <!--User inputs post title, post desc, an image, and Acceptable use policy-->
     <p>Title</p>
     <form action="/posts/create" method="post" enctype="multipart/form-data">
        <input type="text" class="txtbox" placeholder="Post Title" name="title">
    </form>
        <p>Description</p>
    <form>
        <textarea name="paragraph_text" class="descbox" cols="50" rows="10" name="description"></textarea>
    </form>
    <p>Upload Image</p>
    <form>
        <input type="file" placeholder="upload" name="uploadImage" multiple>
    </form>
        <a href="#">Acceptable Use Policy</a>
        <input type="checkbox"> 
        <br>
        <!--submit post-->
        <button>Submit Post</button>
</body>
</html>